html{
	background:#0B615E;
	font-family: serif;
}
header nav{

	text-align: center;
	font-size: 2em;
	padding: 1em;
margin-left: 7%;
}
#consultar
{
	text-align: center;
}
#btnConsultar{
	margin-left: 19%;
}
#consultar input{
	padding: 0.3em;
	border: outset;
border-radius: 0.5em;	
}
#tabla
{
	margin-left: 13%;
}
#tabla td{
	padding: 0.3em;
}