html{
	background:#0B615E;
	font-family: serif;
}
header nav{

	text-align: center;
	font-size: 2em;
	padding: 1em;
margin-left: 7%;
}
#todo{
	margin-right: 30%;
}
#eliminar
{
	text-align: center;
}
#numeroCliente{
	
	
	padding: 0.3em;
	border: outset;
border-radius: 0.5em;
}
#btneliminar
{
	margin-left: -10%;
}
#tabla{
	margin-left: 5%;
}
#tabla td{
	padding: 0.3em;
}
#eliminar
{
	margin-left: 5%;
}
#btneliminar input{
	padding: 0.3em;
    border: outset;
    border-radius: 0.5em;
}
#botoneliminar{
	margin-left: 51%;
padding: 0.3em;
    border: outset;
    border-radius: 0.5em;
}
#tablados{
	margin-left: 15%;
	
}
#tablados td{
	padding: 0.3em;
}